<div class="panel panel-default">
  <div class="panel-heading">File Uploads</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <% direc = params[:direction] == "asc" ? "desc" : "asc" %>
        <th><%= link_to "Filename", :sort => "filename", :direction => direc %></th>
        <th><%= link_to "Time", :sort => "created_at", :direction => direc %></th>
        <th><%= link_to "User", :sort => "users.first_name", :direction => direc %></th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @fileuploads.each do |fileupload| %>
        <tr>
          <td><%= fileupload.filename %></td>
          <td><%= fileupload.created_at %></td>
          <td><%= fileupload.user.first_name + " " + fileupload.user.last_name %></td>
          <% if user_signed_in? %>
             <td>
               <%= link_to '', fileupload, :class => "glyphicon glyphicon-expand" %>
               <%= link_to 'Download', fileupload %>
             </td>
           <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
