<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fileupload.user_id %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @fileupload.filename %>
</p>

<%= link_to 'Edit', edit_fileupload_path(@fileupload) %> |
<%= link_to 'Back', fileuploads_path %>
