<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @soldier.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @soldier.last_name %>
</p>

<p>
  <strong>Atk:</strong>
  <%= @soldier.atk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @soldier.def %>
</p>

<p>
  <strong>Paradigm:</strong>
  <%= @soldier.paradigm %>
</p>

<p>
  <strong>Brigade:</strong>
  <%= @soldier.brigade.name %>
</p>

<%= link_to 'Edit', edit_brigade_soldier_path(@brigade, @soldier) %> |
<%= link_to 'Back', @brigade %> |
<%= link_to 'Destroy', [@brigade, @soldier], method: :delete, data: { confirm: 'Are you sure?' } %>
