<!DOCTYPE html>
<html>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<head>
  <title>File Fantasy VII</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if !user_signed_in? %>
		<%= link_to 'Sign IN!', new_user_session_path %>
	<% else %>
		<%= link_to "Sign OUT!", destroy_user_session_path, :method => :delete %> |
		<%= link_to 'My Profile', current_user %>
		
	<% end %>
	| <%= link_to 'DOWNLOADABLE FILES', fileuploads_path %>
	| <%= link_to 'HOME', :root %>
<div class="container">
	<div class="jumbotron">
		<%= yield %>
	</div>
</div>

</body>
</html>
