<h1>Listing brigades</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brigades.each do |brigade| %>
      <tr>
        <td><%= brigade.name %></td>
        <td><%= link_to 'Show', brigade %></td>
        <td><%= link_to 'Edit', edit_brigade_path(brigade) %></td>
        <td><%= link_to 'Destroy', brigade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brigade', new_brigade_path %>
<br>
<p>The date is: <%= @datestr %></p>
