<%= form_for(@homebasis) do |f| %>
  <% if @homebasis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homebasis.errors.count, "error") %> prohibited this homebasis from being saved:</h2>

      <ul>
      <% @homebasis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
