<h1>Listing homebases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homebases.each do |homebasis| %>
      <tr>
        <td><%= homebasis.name %></td>
        <td><%= link_to 'Show', homebasis %></td>
        <td><%= link_to 'Edit', edit_homebasis_path(homebasis) %></td>
        <td><%= link_to 'Destroy', homebasis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homebase', new_homebasis_path %>
