
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.age %></td>
        <td><%= pet.description %></td>
        <td><%= pet.pet_type %></td>
        <td><%= pet.pet_status %></td>
        <td><%= button_to 'Select Pet', selected_pets_path(pet_id: pet), remote: true%></td>
      </tr>
