<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<% if @fileuploads.count > 0 %>
	<%= render template: "fileuploads/index" %>
<% end %>
<% if @filedownloads.count > 0 %>
	<%= render template: "filedownloads/index" %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
