<div class="panel panel-default">
	<div class="panel-body">
		<%= link_to '', filedownload, :class => "glyphicon glyphicon-expand" %>
		<strong><%= filedownload.fileupload.filename %></strong>
		<br><br>
        <div class=<%= "comments" + filedownload.id.to_s %>> 
		  <%= render filedownload.comments %>
        </div>
		<% if user_signed_in? %>
			<% if current_user.admin? or current_user == filedownload.user %>
    			<%= form_for Comment.new, remote: true do |f| %>
    				<%= f.hidden_field :user_id, :value => current_user.id %>
    				<%= f.hidden_field :filedownload_id, :value => filedownload.id %>
  					<div class="input-group">
    					<%= f.text_field :data, :class => "form-control", :placeholder => "Add comment", :text => "text" %>
    					<span class="input-group-btn"><%= f.submit "Add", :class => "btn btn-default" %></span>
    				</div>
    			<% end %>
    		<% end %>
    	<% end %>
	</div>
</div>