<%= form_for(@filedownload) do |f| %>
  <% if @filedownload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filedownload.errors.count, "error") %> prohibited this filedownload from being saved:</h2>

      <ul>
      <% @filedownload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :fileupload_id %><br>
    <%= f.number_field :fileupload_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
