<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @filedownload.user_id %>
</p>

<p>
  <strong>Fileupload:</strong>
  <%= @filedownload.fileupload_id %>
</p>

<%= link_to 'Edit', edit_filedownload_path(@filedownload) %> |
<%= link_to 'Back', filedownloads_path %>
